{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>modifier un type d'article</title>
{% endblock %}

{% block body %}
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form method="post" action="/admin/type-article/edit">
    <fieldset>
        <legend> Modifier un type d'article</legend>
        <div class="mb-3">
        <input type="hidden" name="id_categorie" size="18" value="{{ categorie.id_categorie }}" id="id_categorie">

        <label for="libelle_categorie">libellé</label><br>
        <input class="form-select" type="text" name="libelle_categorie" size="18" value="{{ categorie.libelle_categorie }}" id="libelle_categorie"><br>
        </div>
        <div class="col-12">
        <button class="btn btn-primary" type="submit">Valider</button>
        </div>
    </fieldset>
  </form>
{% endblock %}
