{% extends 'admin/layout_admin.html' %}
{% block title %}
    <title>modifier un exemplaire</title>
{% endblock %}

{% block body %}
    <h2>modifier la déclinaison d'un article </h2>
        <div class="row mt-5">
            article : <strong>{{ declinaison_lunette.nom_lunette }}</strong><br>
            {% if declinaison_lunette.image is defined and declinaison_lunette.image is not none %}
            <img class="card-img-top rounded mx-4 d-block"  style="width:200px; height:200px; border: 1px solid black; padding: 25px;"  src="{{ url_for('static', filename = 'images/')}}{{ declinaison_lunette.image}}"  alt="image  de {{ declinaison_lunette["libelle"] }}" >
            {% else %}
            <i class="card-img-top rounded mx-4 d-block">pas de photo</i>{#{{ declinaison_article|pprint }}#}
            {% endif %}

            <div class="w-25">
                <form class="w-190" method="post" action="/admin/declinaison_article/edit" enctype="multipart/form-data">
                    <input type="hidden" value="{{ declinaison_lunette.id_declinaison_lunette }}" name="id_declinaison_lunette">
                    <input type="hidden" value="{{ declinaison_lunette.id_lunette }}" name="id_lunette">
                    <label for="stock">Stock :
                        <input name="stock" type="number" min="0.0" step="1" value="{{ declinaison_lunette.stock }}" class="form-control" >
                    </label>
                    {% if  d_couleur_uniq is defined and  d_couleur_uniq==1 %}
                        <div>!</div><div><strong>Une couleur unique est définie </strong></div>
                          <div>il faut faut la supprimer pour modifier la couleur</div>
                        <input type="hidden" name="couleur" value="1">
                    {% else %}
                    <label for="id_couleur"> couleur :
                        <select name="id_couleur" class="form-select">
                            {% for couleur in couleurs %}
                                 <option value="{{ couleur.id_couleur }}"
                                         {% if couleur.id_couleur == declinaison_lunette.id_couleur %} selected {% endif %}
                                 > {{ couleur.libelle_couleur }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    {% endif %}
                    <br>
                <label for="submit">
                    <input name="submit" type="submit" value="Modifier" class="btn btn-primary mt-2">
                </label>
                </form>
                <a href="/admin/article/edit?id_lunette={{ declinaison_lunette.id_lunette }}"><button class="btn btn-secondary  mt-4">annuler</button></a>
            </div>
        </div>
{% endblock %}
